@keyframes titlePresentation {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    
    20% {
        transform: translateY(0px);
        opacity: 1;
        color: var(--white);
    }

    30% {
        color: var(--cyan);
    }

    40% {
        color: var(--white);
    }

    50% {
        color: var(--cyan);
    }

    60% {
        color: var(--white);
    }

    70% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
        color: var(--white);
    }
}

@keyframes displayTodo {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.app {
    padding: 0px var(--defaultPadding);
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app h1 {
    text-align: center;
}

.app button {
    outline: none;
    display: block;
    border: 1px solid var(--lightBlue);
    background-color: transparent;
    padding: var(--defaultPadding);
    color: var(--white);
    border-radius: var(--defaultRadius);
}

.btnGroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title {
    opacity: 0;
    transform: translateY(-50px);
    animation-name: titlePresentation;
    animation-duration: 4s;
}

.todo {
    animation-name: displayTodo;
    animation-duration: .5s;
    max-width: 700px;
    min-width: 300px;
}

@media screen and (min-width: 768px) {
    .todo {
        min-width: 600px;
    }
}

@media screen and (min-width: 1366px) {
    .todo {
        min-width: 800px;
    }
}

.todoCard {
    background-color: var(--mediumBlue);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    width: 100%;
    margin-top: var(--defaultPadding);
    box-sizing: border-box;
    transform: height .2s;
}

.todoCard > p {
    text-align: center;
}

.inputBox {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: var(--defaultPadding);
}

.inputBox input {
    display: block;
    flex-grow: 2;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid var(--lightBlue);
    border-left: 0px;
    border-top: 0px;
    color: var(--white);
    outline: none;
    padding: var(--defaultPadding);
    box-shadow: none;
}

.inputBox button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}

@keyframes entry {
    0% {
        transform: translateY(-10px);
        opacity: .1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.todoEntry {
    display: flex;
    align-items: stretch;
    background-color: var(--lightBlue);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    transition: opacity .2s, transform .2s;
    margin-bottom: var(--defaultPadding);
    animation: entry .2s;
}

.complete {
    opacity: 0.8;
    transform: scale(.9) translateX(-20px);
}

.complete p {
    text-decoration: line-through;
}

.todoEntry p {
    flex-grow: 2;
}

.todoEntry button {
    border: none;
    border-left: 1px solid var(--mediumBlue);
    border-radius: none;
}